<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tittle|title }}</title>
</head>
<body>
    <h1>{{ head }}</h1>
    <span>{{ text }}</span>
{% for product in products %}
    <h4>{{ product.name }}</h4>
    <p>{{ product.price }} руб.</p>
{% endfor %}


{% if promotion %}
    <h3 style="color: red;">Товары по акции:</h3>
    {% for item in products_of_promotion %}
        <h4>{{ item.name }}</h4>
        <p>{{ item.price }} руб.</p>
    {% endfor %}
{% endif %}
</body>
</html>